<div class="col-md-4"></div>
<div class="col-md-4">

	<h2>Editing Task</h2>

	<%= render 'form' %>

	<%= link_to 'Show', @task %> |
	<%= link_to 'Back', tasks_path %>
</div>
<div class="col-md-4"></div>
